# Docs for the Azure Web Apps Deploy action: https://github.com/azure/functions-action
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js project to Azure Function App - IV-AnahuacMexico-dev-eus-functionapp

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  NODE_VERSION: '22.x'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies & run tests
        run: |
          npm install
          npm test --if-present

      - name: Create deployment package
        run: |
          zip -r functionapp.zip \
            host.json \
            package.json \
            package-lock.json \
            src \
            node_modules

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_23691FC121DD4C33AFECBC0C6D2DCA07 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_9ECDD9361BAE42CB9DE1361B34853A4E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_A0EB4292793D4F13B6152B4D76C81505 }}

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: IV-AnahuacMexico-dev-eus-functionapp
          package: functionapp.zip
